<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itycu.server.dao.PositionDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.positioncode != null and params.positioncode != ''">
				and positioncode = #{params.positioncode} 
			</if>
			<if test="params.positionname != null and params.positionname != ''">
				and positionname = #{params.positionname} 
			</if>
			<if test="params.description != null and params.description != ''">
				and description = #{params.description} 
			</if>
			<if test="params.deptid != null and params.deptid != ''">
				and deptid = #{params.deptid} 
			</if>
			<if test="params.pid != null and params.pid != ''">
				and pid = #{params.pid} 
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and createTime = #{params.createTime} 
			</if>
			<if test="params.updateTime != null and params.updateTime != ''">
				and updateTime = #{params.updateTime} 
			</if>
			<if test="params.status != null and params.status != ''">
				and status = #{params.status} 
			</if>
			<if test="params.memo != null and params.memo != ''">
				and memo = #{params.memo} 
			</if>
			<if test="params.c01 != null and params.c01 != ''">
				and c01 = #{params.c01} 
			</if>
			<if test="params.c02 != null and params.c02 != ''">
				and c02 = #{params.c02} 
			</if>
			<if test="params.c03 != null and params.c03 != ''">
				and c03 = #{params.c03} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from t_position t
		<include refid="where" />
	</select>

	<select id="list" resultType="Position">
		select * from t_position t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update t_position t
		<set>
			<if test="positioncode != null">
				positioncode = #{positioncode}, 
			</if>
			<if test="positionname != null">
				positionname = #{positionname}, 
			</if>
			<if test="description != null">
				description = #{description}, 
			</if>
			<if test="deptid != null">
				deptid = #{deptid}, 
			</if>
			<if test="pid != null">
				pid = #{pid}, 
			</if>
			<if test="createTime != null">
				createTime = #{createTime}, 
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="memo != null">
				memo = #{memo}, 
			</if>
			<if test="c01 != null">
				c01 = #{c01}, 
			</if>
			<if test="c02 != null">
				c02 = #{c02}, 
			</if>
			<if test="c03 != null">
				c03 = #{c03}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
