<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itycu.server.dao.ZcInspectDao">

    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and t.id = #{params.id}
            </if>
            <if test="params.zcId != null and params.zcId != ''">
                and t.zc_id = #{params.zcId}
            </if>
            <if test="params.days != null and params.days != ''">
                and t.days = #{params.days}
            </if>
            <if test="params.lastCheckTime != null and params.lastCheckTime != ''">
                and t.last_check_time = #{params.lastCheckTime}
            </if>
            <if test="params.del != null and params.del != ''">
                and t.del = #{params.del}
            </if>
            <if test="params.bz != null and params.bz != ''">
                and t.bz = #{params.bz}
            </if>
            <if test="params.createBy != null and params.createBy != ''">
                and t.create_by = #{params.createBy}
            </if>
            <if test="params.updateBy != null and params.updateBy != ''">
                and t.update_by = #{params.updateBy}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and t.create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and t.update_time = #{params.updateTime}
            </if>
            <if test="params.checkTime != null and params.checkTime != ''">
                and t.check_time = #{params.checkTime}
            </if>
            <if test="params.checkUserId != null and params.checkUserId != ''">
                and t.check_user_id = #{params.checkUserId}
            </if>
            <if test="params.checkUsername != null and params.checkUsername != ''">
                and t.check_username = #{params.checkUsername}
            </if>
            <if test="params.status != null and params.status != ''">
                and t.status = #{params.status}
            </if>
            <if test="params.code != null and params.code != ''">
                and t.code = #{params.code}
            </if>
            <if test="params.checkDeptId != null and params.checkDeptId != ''">
                and t.check_dept_id = #{params.checkDeptId}
            </if>
            <if test="params.sdate != null and params.sdate != '' and params.edate != null and params.edate != ''">
                and
                <![CDATA[ t.check_time >= #{params.sdate} and t.check_time < DATE_FORMAT(DATE_ADD(#{params.edate},INTERVAL 1 DAY),'%Y-%m-%d') ]]>
            </if>
        </where>
    </sql>

    <select id="getById" resultType="ZcInspect">
		select t.*
		,t_creator.nickname as creator
		from zc_inspect t
		LEFT OUTER JOIN sys_user t_creator ON t.create_by=t_creator.id
		where t.id = #{id}
	</select>

    <select id="count" resultType="int">
        select count(1) from zc_inspect t
        <include refid="where"/>
    </select>

    <select id="list" resultType="ZcInspect">
        select t.*
        ,t_creator.nickname as creator
        from zc_inspect t
        LEFT OUTER JOIN sys_user t_creator ON t.create_by=t_creator.id
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update zc_inspect t
        <set>
            <if test="zcId != null">
                zc_id = #{zcId},
            </if>
            <if test="days != null">
                days = #{days},
            </if>
            <if test="lastCheckTime != null">
                last_check_time = #{lastCheckTime},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
            <if test="bz != null">
                bz = #{bz},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime},
            </if>
            <if test="checkUserId != null">
                check_user_id = #{checkUserId},
            </if>
            <if test="checkUsername != null">
                check_username = #{checkUsername},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="checkDeptId != null">
                check_dept_id = #{checkDeptId},
            </if>
            <if test="checkDeptName != null">
                check_dept_name = #{checkDeptName},
            </if>
        </set>

        where t.id = #{id}
    </update>


    <select id="getByDeptId" resultType="com.itycu.server.app.vo.xunjian.XunJianVO">
        SELECT
            c.id,
            c.epcid,
            c.zc_name AS zcName,
            c.self_codenum AS selfCodenum,
            c.store_address AS storeAddress,
            ( SELECT b.deptname FROM t_dept AS b WHERE b.id = c.sy_dept_id ) AS syDeptName,
            ( SELECT b.deptname FROM t_dept AS b WHERE b.id = c.gl_dept_id ) AS glDeptName,
            c.gl_dept_id AS glDeptId,
            c.create_time AS createTime,
            c.inspect_time AS inspectTime,
            c.sy_dept_id AS syDeptId,
            c.zc_codenum AS zcCodenum,
            a.id AS zcRealId,
            a.result as result,
            a.status as status
        FROM
            `zc_inspect_relation` AS a
            LEFT JOIN zc_inspect AS info ON a.zc_inspect_id = info.id
            LEFT JOIN zc_info AS c ON info.zc_id = c.id
        WHERE
            a.STATUS = 1
            AND info.check_dept_id = #{deptId}
    </select>


    <insert id="saveZcInspectRel">
      INSERT INTO `zc_inspect_relation`
	(  `zc_inspect_id`, `zc_id`, `create_time`, `status` )
	VALUES
	 ( #{zc_inspect_id}, #{zc_id}, now(), #{status} );
    </insert>


    <select id="queryZcRealIdByZcId" resultType="com.itycu.server.app.model.AppXunJianReal">
        SELECT
            id,
            zc_inspect_id as zcInspectId,
            create_time as createTime,
            result,
            status,
            zc_id as zcId
        FROM
            `zc_inspect_relation`
        WHERE
            zc_id = #{zc_id}
        ORDER BY
            create_time DESC
        LIMIT 1
    </select>


    <select id="queryXunjianAgainId" resultType="java.lang.Integer">
        select zc_id from
        zc_inspect_relation
        where zc_id = #{zcId}
        and status = 0
    </select>

    <update id="updateLastInspect">
     UPDATE `zc_inspect_record`
        SET
            `content` = NULL,
            `check_time` = #{zcInspectRecord.checkTime},
            `result` =#{zcInspectRecord.result},
            `check_user_id` =#{zcInspectRecord.checkUserId},
            `check_username` = #{zcInspectRecord.checkUsername},
            `create_by` = #{zcInspectRecord.createBy},
            `bz` =  #{zcInspectRecord.bz},
            `opinion` = #{zcInspectRecord.opinion},
            `funct` = #{zcInspectRecord.funct},
            `appearance` = #{zcInspectRecord.appearance},
            `img` =  #{zcInspectRecord.img}
        WHERE
            `zc_inspect_id` = #{zcInspectRecord.zcInspectId}
    </update>
</mapper>
